<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
{% include nav.html %}
<section id="lab" class="container content-section">
{% if page.logo %}
<div class="details-image col-md-4">
    <img src="{{ page.logo | relative_url }}" alt="{{page.name}} logo" class="person-photo width-100 width-max-400px">
</div>
{% endif %}
<div class="details-text col-md-8">
    <h2>{{ page.name }}</h2>
    <h3 class="research-lab-head">Head: {{ page.head }}</h3>
    <p>{{ page.content | markdownify }}</p>
    <p>
        <b>Contact:</b> {{ page.contact }}</br>
        <b>Address:</b> {{ page.address }}</br>
        <b>Website:</b> <a href="{{ page.website_link }}">{{ page.website_link }}</a>
    </p>
    {% assign filtered_projects = site.projects | where: 'lab_name', page.name %}
    {% if filtered_projects.size != 0 %}
    <h3>Lab projects:</h3>
    <p>
    {% for project in filtered_projects %}
    <a href="{{ project.url | relative_url }}">{{ project.name }}</a></br>
    {% endfor %}
    </p>
    {% endif %}
</div>
</section>
</body>
</html>