<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    <section id="lab" class="container content-section">
        <div class="card col-lg-12 col-md-12">
            <div class="card-header" id="heading_lab{{forloop.index}}">
                <div class="details-text col-lg-9 col-md-9">
                    <h2>{{ page.name }}</h2>
                    <h3>Head: {{ page.head }}</h3>
                </div>
                {% if page.logo %}
                <div class="details-image col-lg-3 col-md-3" style="text-align: right">
                    <img src="{{ page.logo | relative_url }}" alt="{{page.name}} logo"
                         class="person-photo width-100 width-max-100px">
                </div>
                {% endif %}

            </div>
        </div>
        <p>{{ page.content | markdownify }}</p>
        <p>
            <b>Contact:</b> {{ page.contact }}<br>
            <b>Address:</b> {{ page.address }}<br>
            <b>Website:</b> <a href="{{ page.website_link }}">{{ page.website_link }}</a>
        </p>
        {% assign filtered_projects = site.projects | where: 'lab_name', page.name %}
        {% if filtered_projects.size != 0 %}
        <h3>Lab projects:</h3>
        <div id="accordion">
            {% for project in filtered_projects %}
            {% include research-platform/project.html
            url = project.url
            name = project.name
            contact = project.contact
            leader = project.leader
            lab = project.lab_name
            positions = project.positions
            content = project.content
            funded = project.funded
            location = project.location
            funded = project.funded
            hours = project.hours
            remote = project.remote
            %}
            {% endfor %}
        </div>
        {% endif %}
    </section>
</body>
</html>