<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ About the research platform</h2>
            <p>
                The Research Platform, an online hub, aims to connect students and research leaders in ML/AI.
                Students can discover research labs with projects suited to their interests,
                while research leaders showcase their work and offer collaboration opportunities.
                The platform fosters collaboration and increases accessibility to research opportunities for students,
                ultimately driving innovation and creating a positive impact in the field of machine learning and
                beyond. Are you the research leader, and you want to add your project on our website? Great, go to our
                <a href="https://github.com/mlinpl/research-platform">Research platform github</a>, make the PR as
                explained in the <a href="https://github.com/mlinpl/research-platform/blob/main/tutorial/tutorial.md">tutorial</a>,
                wait for our acceptance and that is it! We are looking forward for your submissions.
            </p>
        </div>
    </div>
</section>