<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-7">
            <h2>/ About the research platform</h2>
            <p  class="research-about-text">
                The Research Platform - an online hub with the aim to connect students and research groups in ML/AI.
                Students can discover research labs with projects suited to their interests,
                while research groups showcase their work and offer collaboration opportunities.
                The platform fosters collaboration and increases accessibility to research opportunities for students,
                ultimately driving innovation and creating a positive impact in the field of machine learning and
                beyond. Are you a research leader and want to add your project to our website? Great, go to our
                <a href="https://github.com/mlinpl/research-platform">Research platform github</a>, create your PR as
                explained here: <a href="https://github.com/mlinpl/research-platform/blob/main/tutorial/tutorial.md">tutorial</a>,
                then wait for our acceptance and that's it! We're looking forward to your submissions!
            </p>
            </p>
        </div>
        <div class="col-lg-5 text-center research-about-images">
            <div class="fadein fadein-2" class="research-about-images" style="filter: {{ site.color.image-filter }};">
                <img class="width-100 width-max-400px" src="{{ "./images/ai-generated-800x800/group_of_scientists_engineers_1.webp" | relative_url }}">
                <img class="width-100 width-max-400px" src="{{ "./images/ai-generated-800x800/group_of_people_discussing_new_ideas_1.webp" | relative_url }}">
            </div>
        </div>
    </div>
</section>