<!-- Intro Header -->
<header class="intro">
    <canvas id="intro-background" class="intro-background"></canvas>
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1 class="event-heading">{{ site.header.heading }}</h1>
                    {% if site.header.subheading %}
                    <h2 class="event-subheading">{{ site.header.subheading }}</h2>
                    {% endif %}

                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>

               
            </div>
        </div>
    </div>
</header>