<section id="labs" class="container content-section">
    <h2>/ Labs</h2>

    {% for lab in site.labs %}
    <div class="card col-lg-12 col-md-12">
            <div class="card-header" id="heading_lab{{forloop.index}}">
                <button disabled style = "text-align: left; background: transparent; outline: 0; border: 0px
                " >
                    <div class="details-text col-lg-9 col-md-9">
                        <h2><a href="{{ lab.url | relative_url }}">{{ lab.name }}</a></h2>
                        <h3>Head: {{ lab.head }}</h3>
                    </div>
                    {% if lab.logo %}
                    <div class="details-image col-lg-3 col-md-3" style="text-align: right">
                        <img src="{{ lab.logo | relative_url }}" alt="{{lab.name}} logo"
                            class="person-photo width-100 width-max-100px">
                    </div>
                    {% endif %}
                </button>
            </div>


        </div>        
    {% endfor %}

</section>