<section id="labs" class="container content-section">
    <h2>/ Labs</h2>
    {% for lab in site.labs %}
    <div class="col-lg-12">
        {% if lab.logo %}
        <div class="details-image col-md-4">
            <img src="{{ lab.logo | relative_url }}" alt="{{lab.name}} logo"
                 class="person-photo width-100 width-max-400px">
        </div>
        {% endif %}
        <div class="details-text col-md-8">
            <h2><a href="{{ lab.url | relative_url }}">{{ lab.name }}</a></h2>
            <h3>Head: {{ lab.head }}</h3>
            <p>{{ lab.content | markdownify }}</p>
            <p>Contact: {{ lab.contact }}</p>
        </div>
    </div>
    {% endfor %}
</section>