<div class="">
    <div class="card col-lg-12 col-md-12 col-sm-12">
        <div class="card-header " id="heading{{forloop.index}}">
            {%if include.url %}
                <button data-toggle="collapse" data-target="#collapse{{forloop.index}}" aria-expanded="true" aria-controls="collapse{{forloop.index}}" style = "text-align: left; background: transparent; outline: 0; border: 0px
            ">
            {% endif %}
                <h2 class="col-lg-8 col-md-8 col-sm-12">
                    {%if include.url %}
                    <a href="{{ include.url | relative_url }}">{{ include.name }}</a>
                    {% else %}
                    {{ include.name }}
                    {% endif %}
                </h2>
            <p class="research-project-deadline col-lg-4 col-md-4 col-sm-12"><b>Deadline: </b>{{ include.deadline }}</p>
            <h4 class="research-project-leader col-lg-12 col-md-12 col-sm-12">{{ include.lab}}</h4>
            

            <p class="research-project-positions col-lg-8 col-md-8 col-sm-12">
            {% if include.positions %}
            Available positions:
            {% for position in include.positions %}
            <span class="comma">{{ position.name }}</span>
            {% endfor %}
            {% endif %}
            </p>


            <div class = "col-lg-4 col-md-4" style="margin-bottom: -40px">
                {% if include.remote %}
                <h5 class="research-project-info"> Location: {{include.location}}, Remote </h5>
                {% else %}
                <h5 class="research-project-info"> Location: {{include.location}} </h5>
                {% endif %}

                {% if include.funded %}
                <h5 class="research-project-info"> Funded: Yes </h5>
                {% else %}
                <h5 class="research-project-info"> Funded: No </h5>
                {% endif %}
                <h5 class="research-project-info"> Weekly commitement: {{include.hours}}h </h5>
            </div>
        {%if include.url %}
            </button>
        {% endif %}
        </div>
        <div id="collapse{{forloop.index}}" class="collapse show research-project-body" aria-labelledby="heading{{forloop.index}}" style="height: 0px; margin-left: 25px;" data-parent="#accordion">
            <div class="card-body">
                <p class="research-project-content">{{ include.content | markdownify }}  </p>
                <h4 class="">Contact: {{ include.leader }} ({{ include.contact }})</h4>
                <a href="{{include.url}}">Read More</a>
            </div>
        </div>
    </div>
</div>