<section id="projects" class="container content-section">
    <h2>/ Projects</h2>
    {% for project in site.projects %}
    <div class="col-lg-12">
        <h2><a href="{{ project.url | relative_url }}">{{ project.name }}</a></h2>
        <h3>{{ project.leader }} ({{ project.contact }})</h3>
        <p><b>Deadline: </b>{{ project.deadline }}</p>
        <p>{{ project.content | markdownify }}</p>
        {% if project.positions.size != 0 %}
        <p>
            <b>Available positions:</b>
            {% for position in project.positions %}
            <span class="comma">{{ position.name }}</span>
            {% endfor %}
        </p>
        {% endif %}
    </div>
    {% endfor %}
</section>