<section id="projects" class="container content-section">
    <h2>/ Projects</h2>
    <div id="accordion">
        {% for project in site.projects %}
        <!-- <div class="">
            <div class="card col-lg-12">
                <div class="card-header " id="heading{{forloop.index}}">
                    <button data-toggle="collapse" data-target="#collapse{{forloop.index}}" aria-expanded="true" aria-controls="collapse{{forloop.index}}" style = "text-align: left; background: transparent; outline: 0; border: 0px
                    ">
                        <h2 class="col-lg-8"><a href="{{ project.url | relative_url }}">{{ project.name }}</a></h2>
                    <p class="research-project-leader col-lg-4" style="margin-top: 14px; text-align: right;"><b>Deadline: </b>{{ project.deadline }}</p>
                    <h4 class="research-project-leader col-lg-12">{{ project.leader }} ({{ project.contact }})</h4>
                    {% if project.positions %}
                    <p class="research-project-positions col-lg-12">
                    Available positions:
                    {% for position in project.positions %}
                    <span class="comma">{{ position.name }}</span>
                    {% endfor %}
                    </p>
                    {% endif %}
                </button>
                </div>
                <div id="collapse{{forloop.index}}" class="collapse show research-project-body" aria-labelledby="heading{{forloop.index}}" style="height: 0px; margin-left: 25px;" data-parent="#accordion">
                    <div class="card-body">
                        <p class="research-project-content">{{ project.content | markdownify }}</p>
                    </div>
                </div>
            </div>
        </div> -->
        {% include research-platform/project.html
            url = project.url
            name = project.name
            contact = project.contact
            leader = project.leader 
            lab = project.lab_name
            positions = project.positions
            content = project.content
            funded = project.funded 
            location = project.location 
            funded = project.funded 
            hours = project.hours 
            remote = project.remote
        %}
        {% endfor %}
    </div>
</section>