<section id="projects" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <p>
                We aim to connect students and research leaders in ML/AI 
                by helping the students discover projects suited to their interests
                and research labs showcase their work and available opportunities
                <a class="btn btn-default" href="{{ "./about" | relative_url }}">Learn more about the platform</a>
            </p>
            <p>
                Are you a student and don't know how to start your adventure with ML/AI research?
                <a class="btn btn-default" href="{{ './tips-for-students' | relative_url }}">See our tips for young researchers</a>
            </p>

            <div class="search-bar input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" id="search" class="form-control" placeholder="Search for projects using keywords..." aria-describedby="sizing-addon1">
            </div>

            <h2>/ Projects available: <span id="projects-found">{{ site.projects | size }}</span></h2>
        </div>
    </div>

    {% assign projects_sorted = site.projects | sort: "created", "last" %}
    <div class="row">
        <div id="projects-accordion" class="col-lg-12">
        {% for project in projects_sorted reversed %}
        {% include research-platform/project-card.html
            project = project
            make_collapsable = true
        %}
        {% endfor %}
        </div>
    </div>
</section>