<section id="projects" class="container content-section">
    <h2>/ Projects</h2>
    <div id="accordion">
        {% for project in site.projects %}
        {% include research-platform/project.html
            url = project.url
            name = project.name
            contact = project.contact
            leader = project.leader 
            lab = project.lab_name
            positions = project.positions
            content = project.content
            funded = project.funded 
            location = project.location 
            funded = project.funded 
            hours = project.hours 
            remote = project.remote
        %}
        {% endfor %}
    </div>
</section>