<section class="container content-section">
        <div class="col-xs-12">
            <h2>/ About</h2>
            <p  class="research-about-text">
                Embarking on the journey of Machine Learning research can be an enriching experience,
                offering a unique opportunity to delve deep into this fascinating field that's
                revolutionizing the world. With the rising interest in ML,
                having an early immersion can be a boon. Yet, it's pivotal to remember
                that everyone's journey is different. It's not about racing to the finish line,
                but building a solid foundation, brick by brick. Here you discover valuable tips
                and tricks on where to find research groups, how to secure funding, and more.
            </p>
        </div>
    </div>
</section>

<section class="container content-section">
    <div class="row">
        <div class="col-xs-12">
            <h2>/ Learning</h2>
            <ul>
                <li>You don't need to be a specialist to work on a project. Your goal should be to learn, so instead of fixating on the skills you lack, focus on your strengths. Perhaps you learn quickly, ask insightful questions, identify patterns in data, or write high-quality code. Frequently, people delay applying for projects or PhD programs until they feel they know everything, which is counterproductive. Apply now. The sooner you start practicing, the better!</li>
                <li>There are numerous courses organized abroad that can provide valuable learning opportunities. Additionally, some of them may offer financial support, such as the Wellcome Trust in the UK.</li>
                <li>Summer schools are available, so don't hesitate to seek them out and participate.</li>
                <li>Many mentoring programs are also available, which I find to be highly beneficial. In these programs, you will be paired with a mentor who can inspire you and reassure you that your dreams are attainable.</li>
            </ul>
        </div>
    </div>
</section>

<section class="container content-section">
    <div class="row">
        <div class="col-xs-12">
            <h2>/ Traveling</h2>
            <ul>
                <li>There are numerous opportunities for travel, such as Erasmus, Erasmus+, internships, IAESTE, DAAD, Fulbright, and many others. While the idea of traveling and working in a foreign research group may seem daunting, it is incredibly valuable for gaining new perspectives, acquiring skills, and meeting new people.</li>
                <li>Not sure where to begin with an internship? If it's an Erasmus internship, start by identifying a group that interests you, visit their website, and simply reach out to the supervisor or the person who is involved in the area you're interested in. If your Master's supervisor can support your application, even better.</li>
                <li>Some organizations like IAESTE and Fulbright may have an interview process, so it's essential to check when registration opens to ensure eligibility.</li>
                <li>Most programs will host one or two informational meetings where they guide you through the application process.</li>
                <li>Typically, scholarships may not cover all the living expenses abroad. Don't hesitate to inquire with the group for additional financial support, as many groups often have some extra funds they can allocate to interns.</li>
            </ul>
        </div>
    </div>
</section>

<section class="container content-section">
    <div class="row">
        <div class="col-xs-12">
            <h2>/ Writing Your Own Small Grants</h2>
            <ul>
                <li>Universities often allocate funds for small research projects for students. It's an excellent opportunity to test your leadership skills as a project leader.</li>
                <li>Don't hesitate to generate and propose ideas; they may prove successful or not, and it's entirely normal for a project to lead to the conclusion that "we were wrong."</li>
            </ul>
        </div>
    </div>
</section>

<section class="container content-section">
    <div class="row">
        <div class="col-xs-12">
            <h2>/ Applying for a Job</h2>
            <ul>
                <li>Don't hesitate to apply for a job even if you don't possess all the skills mentioned in the job announcement. Often, companies or research groups prioritize the 2-3 most critical skills, such as proficiency in a specific coding language or a background in mathematics, and are willing to help you learn the rest.</li>
                <li>If there's a company you're keen on working for, but they're not currently hiring, consider reaching out to them. Perhaps you know someone who works there, or you've found the group leader on LinkedIn. Take the initiative and make contact.</li>
                <li>If you've been through an interview but didn't secure the job, don't be afraid to follow up and ask for feedback. Without feedback, it's challenging to improve and refine your skills and interview performance.</li>
            </ul>
        </div>
    </div>
</section>
